<h1>About Interception!</h1>
<ul>
  <li>Interception is a 2-player game of controlling all locations on the board.</li>
  <li>Each board consists of 4 to 20 locations containing a message and a defense value. This defense value is only visible to the current owner of the location. </li>
  <li>Players try to take over each location by sending in troops from their characters' limited troops pool and an edit to the location's message.</li>
  <li>If the number of troops sent is higher than the defense, the takeover will be successful and a new defense value is set according to the troops left.</li>
  <li>There is no limit to how many times any given location can be taken over, as long as you have characters with troops left to do so.</li>
  <li>All takeover attemps will be logged in to the location's history.</li>
  <li>Whoever controls all the locations wins the game.</li>
</ul>

<ul>
  <li>Any registered player can create a new game.</li>
  <li>Game can be launched as soon as second player has joined.</li>
  <li>Players can create characters to lead their troops and reuse them across different games.</li>
  <li>Character or game deletion is currently not supported.</li>
</ul>
