<%= greeting %>

<div id="hover_data"></div>
<div id="currentGame"><%= page_content %></div>
<div class="clearfix">.</div>
<div id="forms"></div>
<div id="games"></div>
<div id="characters">Character info here.</div>
