
<div id="about" class="flex col-10 mx-auto p1 border-box border rounded clearfix block">About</div>

<div id="currentGame" class="flex col-10 mx-auto p1 border-box border rounded clearfix block">Game</div>

<div id="forms" class="flex col-10 mx-auto p1 border-box border rounded clearfix block">Formz</div>

<div id="games" class="flex col-10 mx-auto p1 border-box border rounded clearfix block">Gamez</div>

<div id="characters" class="flex col-10 mx-auto p1 border-box border rounded clearfix block">Characters</div>

<div id="hover_data"></div>
