<h1>Welcome to Interception!</h1>


<h4>Links NOT handled via layout/navbar that should be here:</h4>

<ul>
<li>--Create new game ... invite others?</li>
<li>Game status view</li>
<li>--Troops view: Headfigure (=you?), Loose Cannon(HP), Elite Fighters(HP), and quantity of troops, aka cannon fodder (CP instances not saved to DB, only available quantity is).</li>
<li>--Motives, plans and mission views for your team</li>
<li>--Deploy/Assign</li>
<li>--See map</li>
</ul>
