
<div id="about" class="clearfix"></div>

<div id="currentGame" class="clearfix"></div>

<div id="forms" class="clearfix"></div>

<div id="games" class="clearfix"></div>

<div id="characters" class="clearfix">Character info here.</div>

<div id="hover_data"></div>
