<div id="deepContainer" class="flex col-10 mx-auto p1 border-box clearfix border rounded">

  <div id="main" class="col-9 clearfix rounded">

    <div id="about" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">About This Game</div>
    <div id="currentGame" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">Game</div>
    <div id="games" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">Gamez</div>
    <div id="characters" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">Characterz</div>
  </div>

  <div id="side" class="col-3 clearfix rounded">

    <div id="forms" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">Formz</div>
    <div id="history" class="flex col-12 mx-auto p1 border-box border rounded clearfix block">Hiztory</div>

  </div>

</div>


<div id="hover_data"></div>
