Characters found: <br>

<p>
<% @characters.each do |character| %>
  <%= render partial: "characters/character", locals: {character: character} %>
<% end %>
</p>

<%= link_to "Add character", new_player_character_path(current_player) %><br>
