Characters found: <br>

<p>
<% @characters.each do |character| %>
  <%= link_to character.name, player_character_path(current_player, character) %> <br>
<% end %>
</p>

<%= link_to "Add character", new_player_character_path(current_player, @character = Character.new) %><br>
