<h1>Character Details for <%= @character.name%>:</h1>

<%= image_tag("#{@character.image_link}", width: "250") %> <br>

<%= @character.personality %> <br>

<%=  print_character_status(current_game.id, character.id) if current_game %> <br>
