@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');


div.history {
  border: 1px dotted blue;
}
div.pending {
  color: green;
}
div.active {
  color: purple;
}
div.finished {
  color: grey;
}

body {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: grey;
}
