#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: grey;
}

#navbar div {
  display: inline;
}

#nav_left {
  text-align: justify;
  float: left;
  width: 20%;
}

#nav_right {
  text-align: justify;
  float: right;
  width: 20%;
}
#nav_center {
  text-align: center;
  float: left;
  width: 60%;
}

div.field_with_errors input[type="text"]{
  border: 2px solid red;
}

#flash_error {
  border: 2px solid red;
  color: red;
}

#flash_notice {
  border: 2px solid orange;
  color: orange;
}

#flash_message {
  border: 2px solid purple;
  color: purple;
}

#status {
  width: 90%;
  position: absolute;
  top: 40px;
  left: 5%;
}

#status, div.history {
  border: 1px dotted blue;
}

#about, #currentGame, #forms, #games, #characters {
  position: relative;
  top: 80px;
  clear: both;
}

div.location {
  border: 1px dotted blue;
  display: inline;
  float: left;
  width: 20%
}

div.game_status_message {
  clear: left;
}

div.pending {
  color: green;
}
div.active {
  color: purple;
}
div.finished {
  color: grey;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
