<h1><%= @location.content %></h1>

<!-- This should be the team name-->
<h3>Current Owner: <%= @location.player.alias %> </h3>
Edits to content, editors, current owner and the original owner will be printed here


<br>
<%= link_to "Back to Map", map_path(@location.map)%>
<br>
